body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #AEC6CF; /* Soft Blue */
    color: #034F84; /* Dark Blue */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.title {
    font-size: 2em;
    color: #034F84; /* Dark Blue */
}

.main-content {
    text-align: center;
}

.text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.primary-button {
    background-color: #F3F3F3; /* Light Grey */
    color: #034F84; /* Dark Blue */
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.primary-button:hover {
    background-color: #034F84; /* Dark Blue */
    color: #F3F3F3; /* Light Grey */
}
